<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Craft Wiki</title>
    <meta name="description" content="Explore over 50,000 crafting recipes from Infinite Craft!">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PCW5J4G9KX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PCW5J4G9KX');
    </script>

    <!-- Load Roboto font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Load styles from styles.css-->
    <link rel="stylesheet" href="styles.css">

    <!-- Load Vue.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="container" :class="{'showUnavailableElements': saveData.length > 0}">
            <a class="github-link" href="https://github.com/expitau/InfiniteCraftWiki" target="_blank">
                <span class="sr-only">Follow me on Github</span>
                <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" fill="currentColor">
                    <path fill="currentColor"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
                <div class="github-link-text">Star my repo!</div>
            </a>

            <button
                style="background-color: #347d39; color:#c6c7c7; text-decoration: none; border-radius: 0.5rem; padding: 0.5rem 1rem; cursor: pointer;  border: none; position: absolute; top: 0; right: 0; margin: 1rem"
                @click="clearSaveData()" v-if="saveData.length > 0">
                Clear save data
            </button>

            <h1 style="text-align: center; cursor: pointer; margin-bottom: 0px;"
                @click="navigateTo(''); searchQuery='';">
                Infinite Craft Wiki
            </h1>

            <h3 class="sub-header">
                {{ formatNumber(elementCount) }} elements -- {{ formatNumber(recipeCount) }} recipes
            </h3>

            <div class="search-bar-wrapper">
                <input class="search-bar" type="text" placeholder="Search..." v-model="searchQuery"
                    @click="navigateTo('')"></input>
            </div>

            <div class="toast" v-if="showToast">
                <div class="toast-body">
                    <h2 style="margin: 0;">Enjoying my site?</h2>
                    <p>Help me out by starring the project on Github</p>
                    <br>
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <button
                            style="background-color: #347d39; color:#c6c7c7; text-decoration: none; border-radius: 0.5rem; padding: 0.5rem 1rem; cursor: pointer; display: flex; flex-direction: row; align-items: center; gap: 1rem; border: none"
                            onclick="window.open('https://github.com/expitau/InfiniteCraftWiki', '_blank').focus()">
                            <span>Sure!</span>
                            <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24" fill="currentColor">
                                <path fill="currentColor"
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                </path>
                            </svg>
                        </button>
                        <button
                            style="text-decoration: underline; background: none; color: #949494; border: none; cursor: pointer;"
                            onclick="localStorage.setItem('showToast', false)" @click="showToast=false">
                            Go away! Never show again
                        </button>
                    </div>
                </div>
            </div>
            <transition name="slide-up" mode="out-in">
                <div key=0 v-if="currentElement">
                    <transition name="slide-right" mode="out-in">
                        <h2 :key="currentElement" style="text-align: center;" @click="navigateTo('')">
                            <div class="item" style=" padding: 13px 15px 12px">
                                {{ data.index[currentElement][0] }}&nbsp;{{ data.index[currentElement][1] }}
                            </div>
                        </h2>
                    </transition>
                    <div class="ingredients-flex">
                        <div class="ingredients-list">
                            <h3>Created by</h3>
                            <transition name="slide-right" mode="out-in">
                                <table :key="currentElement">
                                    <tr v-for="recipe in currentFrom">
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.A)}"
                                            @click="navigateTo(recipe.A);">
                                            {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                        </td>
                                        <td>+</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.B)}"
                                            @click="navigateTo(recipe.B);">
                                            {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                        </td>
                                        <td>=</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.C)}"
                                            @click="navigateTo(recipe.C);">
                                            {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                        </td>
                                    </tr>

                                    <tr v-for="recipe in currentHiddenFrom" v-if="showHiddenRecipes">
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.A)}"
                                            @click="navigateTo(recipe.A);">
                                            {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                        </td>
                                        <td>+</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.B)}"
                                            @click="navigateTo(recipe.B);">
                                            {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                        </td>
                                        <td>=</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.C)}"
                                            @click="navigateTo(recipe.C);">
                                            {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                        </td>
                                    </tr>
                                </table>
                            </transition>
                            <div v-if="currentHiddenFrom.length > 0">
                                <div v-if="!showHiddenRecipes" class="text-link" @click="showHiddenRecipes = true">
                                    {{currentHiddenFrom.length}} entries hidden
                                </div>
                                <div v-else class="text-link" @click="showHiddenRecipes = false">
                                    {{currentHiddenFrom.length}} entries shown
                                </div>
                            </div>
                        </div>

                        <div class="ingredients-list">
                            <h3>Used in</h3>
                            <transition name="slide-right" mode="out-in">
                                <table :key="currentElement">
                                    <tr v-for="recipe in currentTo">
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.A)}"
                                            @click="navigateTo(recipe.A);">
                                            {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                        </td>
                                        <td>+</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.B)}"
                                            @click="navigateTo(recipe.B);">
                                            {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                        </td>
                                        <td>=</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.C)}"
                                            @click="navigateTo(recipe.C);">
                                            {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                        </td>
                                    </tr>

                                    <tr v-for="recipe in currentHiddenTo" v-if="showHiddenRecipes">
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.A)}"
                                            @click="navigateTo(recipe.A);">
                                            {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                        </td>
                                        <td>+</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.B)}"
                                            @click="navigateTo(recipe.B);">
                                            {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                        </td>
                                        <td>=</td>
                                        <td class="item" :class="{'item-used': !saveData.includes(recipe.C)}"
                                            @click="navigateTo(recipe.C);">
                                            {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                        </td>
                                    </tr>
                                </table>

                            </transition>
                            <div v-if="currentHiddenTo.length > 0">
                                <div v-if="!showHiddenRecipes" class="text-link" @click="showHiddenRecipes = true">
                                    {{currentHiddenTo.length}} entries hidden
                                </div>
                                <div v-else class="text-link" @click="showHiddenRecipes = false">
                                    {{currentHiddenTo.length}} entries shown
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div key=1 v-else>
                    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                        <div v-if="Object.keys(data.data).length == 0" style="font-weight: bold; padding-top: 5px;">
                            Loading data...</div>
                        <div class="item" :class="{'item-used': !saveData.includes(element)}"
                            v-for="element in elementList" @click="navigateTo(element)">
                            {{ data.index[element][0] }}&nbsp;{{ data.index[element][1] }}
                        </div>
                    </div>
                </div>
            </transition>
            <div id="scroll-end"></div>
        </div>
    </div>

    <script>
        function compareRecipes(A, B, data) {
            if (data.index[A.C][1] == "Nothing")
                return 1
            if (data.index[B.C][1] == "Nothing")
                return -1

            if (data.costs[A.C] > data.costs[B.C])
                return 1
            if (data.costs[A.C] < data.costs[B.C])
                return -1

            if (data.index[A.C][1] > data.index[B.C][1])
                return 1
            if (data.index[A.C][1] < data.index[B.C][1])
                return -1

            if (data.costs[A.A] + data.costs[A.B] > data.costs[B.A] + data.costs[B.B])
                return 1
            if (data.costs[A.A] + data.costs[A.B] < data.costs[B.A] + data.costs[B.B])
                return -1

            if (data.costs[A.A] > data.costs[B.A])
                return 1
            if (data.costs[A.A] < data.costs[B.A])
                return -1

            if (data.index[A.A][1] > data.index[B.A][1])
                return 1
            if (data.index[A.A][1] < data.index[B.A][1])
                return -1

            if (data.costs[A.B] > data.costs[B.B])
                return 1
            if (data.costs[A.B] < data.costs[B.B])
                return -1

            if (data.index[A.B][1] > data.index[B.B][1])
                return 1
            if (data.index[A.B][1] < data.index[B.B][1])
                return -1

            return 0
        }

        function generateData(raw) {
            let data = {}
            for (let recipe of raw.data.split(";").map(x => x.split(","))) {
                data[recipe[0]] ??= { from: [], to: [] }
                data[recipe[0]].to.push([recipe[1], recipe[2]])
                data[recipe[1]] ??= { from: [], to: [] }
                data[recipe[1]].to.push([recipe[0], recipe[2]])
                data[recipe[2]] ??= { from: [], to: [] }
                data[recipe[2]].from.push([recipe[0], recipe[1]])
            }
            return {
                index: Object.fromEntries(Object.entries(raw.index).map(x => [x[0], [x[1][0], x[1][1]]])),
                costs: Object.fromEntries(Object.entries(raw.index).map(x => [x[0], x[1][2]])),
                data: data,
            };
        }

        function setQuery(query) {
            const url = new URL(window.location.href);
            for (let key in query) {
                if (query[key] === "") {
                    url.searchParams.delete(key);
                } else {
                    url.searchParams.set(key, query[key]);
                }
            }

            window.history.pushState({}, '', url);
        }

        function getQuery() {
            const params = new URLSearchParams(window.location.search);
            const queryParams = {};

            // Iterate over each query parameter
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            return queryParams;
        }

        // Vue app
        const app = new Vue({
            el: '#app',
            data: {
                data: { index: {}, costs: {}, data: [] },
                currentElement: "",
                showHiddenRecipes: false,
                searchQuery: "",
                showToast: true,
                saveData: [],
                loaded: 1000,
            },
            computed: {
                currentTo: function () {
                    // console.log(this.data.data[this.currentElement])
                    let result = this.data.data[this.currentElement].to
                        .map(recipe => {
                            return { A: this.currentElement, B: recipe[0], C: recipe[1] }
                        })
                    return result.filter(x => x.A != x.C && x.B != x.C && this.data.index[x.C][1] != 'Nothing').sort((a, b) => compareRecipes(a, b, this.data))
                },
                currentFrom: function () {
                    // console.log(this.data.data[this.currentElement])
                    let result = this.data.data[this.currentElement].from
                        .map(recipe => {
                            if (this.data.costs[recipe[0]] > this.data.costs[recipe[1]]) {
                                return { A: recipe[1], B: recipe[0], C: this.currentElement }
                            }
                            return { A: recipe[0], B: recipe[1], C: this.currentElement }
                        })
                    return result.filter(x => x.A != x.C && x.B != x.C && this.data.index[x.C][1] != 'Nothing').sort((a, b) => compareRecipes(a, b, this.data))
                },
                currentHiddenTo: function () {
                    // console.log(this.data.data[this.currentElement])
                    let result = this.data.data[this.currentElement].to
                        .map(recipe => {
                            return { A: this.currentElement, B: recipe[0], C: recipe[1] }
                        })
                    return result.filter(x => !(x.A != x.C && x.B != x.C && this.data.index[x.C][1] != 'Nothing')).sort((a, b) => compareRecipes(a, b, this.data))
                },
                currentHiddenFrom: function () {
                    // console.log(this.data.data[this.currentElement])
                    let result = this.data.data[this.currentElement].from
                        .map(recipe => {
                            if (this.data.costs[recipe[0]] > this.data.costs[recipe[1]]) {
                                return { A: recipe[1], B: recipe[0], C: this.currentElement }
                            }
                            return { A: recipe[0], B: recipe[1], C: this.currentElement }
                        })
                    return result.filter(x => !(x.A != x.C && x.B != x.C && this.data.index[x.C][1] != 'Nothing')).sort((a, b) => compareRecipes(a, b, this.data))
                },
                createdBy: function () {
                    let result = this.data.find(element => element[0] === this.currentElement)[1].createdBy
                    return result
                },
                hiddenUsedIn: function () {
                    let result = this.data.find(element => element[0] === this.currentElement)[1].hiddenUsedIn
                        .map(recipe => {
                            if (recipe.ingredientA != this.currentElement) {
                                return { ingredientA: recipe.ingredientB, ingredientB: recipe.ingredientA, result: recipe.result }
                            } else {
                                return { ingredientA: recipe.ingredientA, ingredientB: recipe.ingredientB, result: recipe.result }
                            }
                        })
                    return result
                },
                hiddenCreatedBy: function () {
                    let result = this.data.find(element => element[0] === this.currentElement)[1].hiddenCreatedBy
                        .map(recipe => {
                            if (recipe.ingredientA != this.currentElement) {
                                return { ingredientA: recipe.ingredientB, ingredientB: recipe.ingredientA, result: recipe.result }
                            } else {
                                return { ingredientA: recipe.ingredientA, ingredientB: recipe.ingredientB, result: recipe.result }
                            }
                        })
                    return result
                },
                elementList: function () {
                    // console.log(this.data.index)
                    let list = Object.keys(this.data.index).sort((a, b) => this.data.costs[a] - this.data.costs[b]).filter(x => this.data.index[x][1] != "Nothing")
                    return list.filter(x => this.data.index[x][1].toLowerCase().includes(this.searchQuery.toLowerCase())).slice(0, this.loaded)
                },
                elementCount: function () {
                    return Object.keys(this.data.index).length - 1;
                },
                recipeCount: function () {
                    return Object.entries(this.data.data).reduce((acc, [key, value]) => acc + value.from.length, 0);
                }
            },
            methods: {
                navigateTo: function (element) {
                    setQuery({ e: this.currentElement });
                    this.showHiddenRecipes = false;
                    this.currentElement = element;
                    return this.currentElement ? this.currentElement : "";
                },
                addScrollPage: function () {
                    this.loaded += 500;
                },
                clearSaveData: function () {
                    this.saveData = [];
                    localStorage.setItem("saveData", "");
                },
                formatNumber: function (n) {
                    if (n === undefined){
                        return "#####"
                    }
                    return n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }
            },
            mounted() {
                this.showToast = JSON.parse(localStorage.getItem("showToast")) ?? true;
                // Load recipes from JSON file
                fetch('data.json')
                    .then(response => { console.log(response); return response.json() })
                    .then(data => {
                        let wikiData = generateData(data)
                        // console.log(wikiData)
                        this.data = wikiData;
                        this.currentElement = getQuery().e || ""
                    })
                    .catch(error => {
                        console.error('Error loading recipes:', error);
                    });
                addEventListener("popstate", (event) => this.currentElement = getQuery().e || "");
                this.saveData = (getQuery().s || localStorage.getItem("saveData") || "").split(",").filter(x => x)
                localStorage.setItem("saveData", this.saveData.join(","))
                setQuery({ s: "" })
                document.addEventListener("scroll", function (event) {
                    var lastDiv = document.querySelector("#scroll-end");
                    var lastDivOffset = lastDiv.offsetTop + lastDiv.clientHeight;
                    var pageOffset = window.pageYOffset + window.innerHeight;

                    if (pageOffset > lastDivOffset - 20) {
                        app.addScrollPage();
                    }
                });
            }
        });
    </script>
</body>

</html>
