<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Craft Wiki</title>
    <meta name="description" content="Explore over 3500 crafting recipes from Infinite Craft!">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PCW5J4G9KX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PCW5J4G9KX');
    </script>

    <!-- Load Roboto font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Load Vue.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            width: 100vw;
            height: 100vh;
            background-color: #191919;
            color: #c6c7c7;
            margin: 0;
            overflow-x: hidden;
        }

        #app {
            padding: 1rem 5rem 3rem;
        }

        .item {
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            padding: 9px 10px 8px;
            display: inline-block;
            margin: 5px;
            line-height: 1em;
            border: 1px solid #525252;
        }

        .item:hover {
            border: 1px solid #45505c;
        }

        #ingredients-flex {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            text-align: center;
        }

        @media (max-width: 900px) {
            #ingredients-flex {
                flex-direction: column;
            }
            #app {
                padding: 1rem 1rem 3rem;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 style="text-align: center; cursor: pointer;" @click="navigateTo('')">Infinite Craft Wiki</h1>
        <div v-if="currentElement">
            <h2 style="text-align: center;">
                <div class="item" style=" padding: 13px 15px 12px" @click="navigateTo('')">{{ icons[currentElement]
                    }}&nbsp;{{
                    currentElement }}</div>
            </h2>
            <div id="ingredients-flex">
                <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
                    <h3>Created by</h3>
                    <table>
                        <tr v-for="recipe in createdBy">
                            <td class="item" @click="navigateTo(recipe.ingredientA)">{{
                                icons[recipe.ingredientA]
                                }}&nbsp;{{ recipe.ingredientA }}</td>
                            <td>+</td>
                            <td class="item" @click="navigateTo(recipe.ingredientB)">{{
                                icons[recipe.ingredientB]
                                }}&nbsp;{{ recipe.ingredientB }}</td>
                            <td>=</td>
                            <td class="item" @click="navigateTo(recipe.result)">{{ icons[recipe.result]
                                }}&nbsp;{{
                                recipe.result }}</td>
                        </tr>

                        <tr v-for="recipe in hidden" v-if="showHiddenRecipes">
                            <td class="item" @click="navigateTo(recipe.ingredientA)">{{
                                icons[recipe.ingredientA]
                                }}&nbsp;{{ recipe.ingredientA }}</td>
                            <td>+</td>
                            <td class="item" @click="navigateTo(recipe.ingredientB)">{{
                                icons[recipe.ingredientB]
                                }}&nbsp;{{ recipe.ingredientB }}</td>
                            <td>=</td>
                            <td class="item" @click="navigateTo(recipe.result)">{{ icons[recipe.result]
                                }}&nbsp;{{
                                recipe.result }}</td>
                        </tr>
                    </table>
                    <div v-if="hidden.length > 0">
                        <div v-if="!showHiddenRecipes"
                            style="text-decoration: underline; margin-top: 5px; color: #949494; cursor: pointer"
                            @click="showHiddenRecipes = true">
                            {{hidden.length}} entries hidden
                        </div>
                        <div v-else
                            style="text-decoration: underline; margin-top: 5px; color: #949494; cursor: pointer"
                            @click="showHiddenRecipes = false">
                            {{hidden.length}} entries shown
                        </div>
                    </div>
                </div>

                <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
                    <h3>Used in</h3>
                    <table>
                        <tr v-for="recipe in usedIn">
                            <td class="item" @click="navigateTo(recipe.ingredientA)">{{ icons[recipe.ingredientA]
                                }}&nbsp;{{ recipe.ingredientA }}</td>
                            <td>+</td>
                            <td class="item" @click="navigateTo(recipe.ingredientB)">{{ icons[recipe.ingredientB]
                                }}&nbsp;{{ recipe.ingredientB }}</td>
                            <td>=</td>
                            <td class="item" @click="navigateTo(recipe.result)">{{ icons[recipe.result] }}&nbsp;{{
                                recipe.result }}</td>
                        </tr>

                        <tr v-for="recipe in hidden" v-if="showHiddenRecipes">
                            <td class="item" @click="navigateTo(recipe.ingredientA)">{{ icons[recipe.ingredientA]
                                }}&nbsp;{{ recipe.ingredientA }}</td>
                            <td>+</td>
                            <td class="item" @click="navigateTo(recipe.ingredientB)">{{ icons[recipe.ingredientB]
                                }}&nbsp;{{ recipe.ingredientB }}</td>
                            <td>=</td>
                            <td class="item" @click="navigateTo(recipe.result)">{{ icons[recipe.result] }}&nbsp;{{
                                recipe.result }}</td>
                        </tr>
                    </table>

                    <div v-if="hidden.length > 0">
                        <div v-if="!showHiddenRecipes"
                            style="text-decoration: underline; margin-top: 5px; color: #949494; cursor: pointer"
                            @click="showHiddenRecipes = true">
                            {{hidden.length}} entries hidden
                        </div>
                        <div v-else
                            style="text-decoration: underline; margin-top: 5px; color: #949494; cursor: pointer"
                            @click="showHiddenRecipes = false">
                            {{hidden.length}} entries shown
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else style="display: flex; flex-direction: column; align-items: center;">
            <input style="border-radius: 0.5rem; height: 1.5rem; width: 80%; margin: 1rem; text-align: center; background-color: #242424; border: none; color: #c6c7c7" type="text" placeholder="Search..." v-model="searchQuery"></input>
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                <div class="item" v-for="element in elementList" @click="navigateTo(element)">{{ icons[element]
                    }}&nbsp;{{ element }}</div>
            </div>
        </div>
    </div>

    <script>
        function recipesInclude(recipes, item) {
            return recipes.some(recipe => recipe.ingredientA == item.ingredientA && recipe.ingredientB == item.ingredientB && recipe.result == item.result)
        }

        function uncompress(data) {
            out = []
            for (let i = 0; i < data.attempted.length; i += 3) {
                out.push({ elements: [data.attempted[i], data.attempted[i + 1]], result: data.attempted[i + 2] })
            }
            data.attempted = out
            return data
        }

        function isIdempotent(recipe) {
            return recipe.ingredientA == recipe.result || recipe.ingredientB == recipe.result
        }

        function generateData(raw) {
            let wikiData = {}
            for (let recipe of raw.attempted) {
                let currentRecipe = { ingredientA: recipe.elements[0], ingredientB: recipe.elements[1], result: recipe.result }
                for (let element of recipe.elements) {
                    if (!wikiData[element]) {
                        wikiData[element] = { usedIn: [], createdBy: [], hidden: [] }
                    }
                    if (!recipesInclude(wikiData[element].usedIn, currentRecipe) && !recipesInclude(wikiData[element].hidden, currentRecipe)) {
                        if (!isIdempotent(currentRecipe) && currentRecipe.result != 'Nothing') {
                            wikiData[element].usedIn.push(currentRecipe)
                        } else {
                            wikiData[element].hidden.push(currentRecipe)
                        }
                    }
                }
                if (!wikiData[recipe.result]) {
                    wikiData[recipe.result] = { usedIn: [], createdBy: [], hidden: [] }
                }
                if (!recipesInclude(wikiData[recipe.result].createdBy, currentRecipe) && !recipesInclude(wikiData[recipe.result].hidden, currentRecipe)) {
                    if (!isIdempotent(currentRecipe) && currentRecipe.result != 'Nothing') {
                        wikiData[recipe.result].createdBy.push(currentRecipe)
                    } else {
                        wikiData[recipe.result].hidden.push(currentRecipe)
                    }
                }
            }

            for (let element in wikiData) {
                wikiData[element].usedIn = wikiData[element].usedIn.sort((a, b) => raw.costs[a.result] - raw.costs[b.result])
                wikiData[element].createdBy = wikiData[element].createdBy.sort((a, b) => raw.costs[a.ingredientA] + raw.costs[a.ingredientB] - raw.costs[b.ingredientA] - raw.costs[b.ingredientB])
                wikiData[element].hidden = wikiData[element].hidden.sort((a, b) => raw.costs[a.ingredientA] + raw.costs[a.ingredientB] - raw.costs[b.ingredientA] - raw.costs[b.ingredientB])
                wikiData[element].hidden = [...wikiData[element].hidden.filter(x => x.result != 'Nothing'), ...wikiData[element].hidden.filter(x => x.result == 'Nothing')]
            }
            return wikiData
        }

        function setQuery(query) {
            const url = new URL(window.location.href);
            for (let key in query) {
                url.searchParams.set(key, query[key]);
            }

            window.history.pushState({}, '', url);
        }

        function getQuery() {
            const params = new URLSearchParams(window.location.search);
            const queryParams = {};

            // Iterate over each query parameter
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            return queryParams;
        }

        // Vue app
        const app = new Vue({
            el: '#app',
            data: {
                data: [],
                costs: {},
                currentElement: "",
                icons: {},
                showHiddenRecipes: false,
                searchQuery: ""
            },
            computed: {
                usedIn: function () {
                    return this.data.find(element => element[0] === this.currentElement)[1].usedIn
                },
                createdBy: function () {
                    return this.data.find(element => element[0] === this.currentElement)[1].createdBy
                },
                hidden: function () {
                    return this.data.find(element => element[0] === this.currentElement)[1].hidden
                },
                elementList: function () {
                    let list =  this.data.map(element => element[0]).sort((a, b) => this.costs[a] - this.costs[b])
                    return list.filter(x => x.toLowerCase().includes(this.searchQuery.toLowerCase()))
                }
            },
            methods: {
                navigateTo: function (element) {
                    this.currentElement = element
                    this.showHiddenRecipes = false
                    setQuery({ element: this.currentElement })
                    return this.currentElement ? this.currentElement : ""
                }
            },
            mounted() {
                // Load recipes from JSON file
                fetch('data.json')
                    .then(response => { console.log(response); return response.json() })
                    .then(data => {
                        let wikiData = generateData(uncompress(data))
                        this.data = Object.entries(wikiData);
                        this.costs = data.costs
                        this.icons = data.icons
                        this.currentElement = getQuery().element || ""
                    })
                    .catch(error => {
                        console.error('Error loading recipes:', error);
                    });
                addEventListener("popstate", (event) => this.currentElement = getQuery().element || "");
            }
        });
    </script>
</body>

</html>
