<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Craft Wiki</title>
    <meta name="description" content="Explore over 2M crafting recipes from Infinite Craft!">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PCW5J4G9KX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-PCW5J4G9KX');
    </script>

    <!-- Load Roboto font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Load styles from styles.css-->
    <link rel="stylesheet" href="styles.css">

    <!-- Load Vue.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="container" :class="{'showUnavailableElements': saveData.size != 0}">
            <button
                style="background-color: #347d39; color:#c6c7c7; text-decoration: none; border-radius: 0.5rem; padding: 0.5rem 1rem; cursor: pointer;  border: none; position: absolute; top: 0; right: 0; margin: 1rem"
                @click="clearSaveData()" v-if="saveData.size != 0">
                Clear save data
            </button>

            <div>
                <h1 style="text-align: center; cursor: pointer; margin-bottom: 0px;"
                    @click="navigateTo(''); searchQuery='';">
                    Infinite Craft Wiki
                </h1>

                <h3 class="sub-header">
                    {{ formatNumber(elementCount) }} elements · {{ formatNumber(data.metadata.recipeCount) }} recipes
                </h3>
            </div>

            <a class="github-link" style="position: absolute; top: 40px; left: 40px"
                href="https://github.com/expitau/InfiniteCraftWiki" target="_blank">
                <span class="sr-only">Follow me on Github</span>
                <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" fill="currentColor">
                    <path fill="currentColor"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
                <div class="github-link-text">Star my repo!</div>
            </a>

            <div id="search-bar" class="search-bar-wrapper">
                <!-- <a class="github-link" href="https://github.com/expitau/InfiniteCraftWiki" target="_blank" v-if="currentElement">
                    <span class="sr-only">Follow me on Github</span>
                    <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" fill="currentColor">
                        <path fill="currentColor"
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                        </path>
                    </svg>
                </a> -->
                <input class="search-bar" type="text" placeholder="Search..." v-model="searchQuery"
                    @click="navigateTo('')"></input>
            </div>

            <transition name="slide-up" mode="out-in">
                <div class="toast" v-if="showToast">
                    <div class="toast-body" style="text-align: center;">
                        <h2 style="margin-bottom: 0;">Enjoying my site?</h2>
                        <p>Help me out by starring the project on Github</p>
                        <br>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <button
                                style="background-color: #347d39; color:#c6c7c7; text-decoration: none; border-radius: 0.5rem; padding: 0.5rem 1rem; cursor: pointer; display: flex; flex-direction: row; align-items: center; gap: 1rem; border: none"
                                onclick="window.open('https://github.com/expitau/InfiniteCraftWiki', '_blank').focus()">
                                <span>Sure!</span>
                                <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24" fill="currentColor">
                                    <path fill="currentColor"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </button>
                            <button
                                style="text-decoration: underline; background: none; color: #949494; border: none; cursor: pointer;"
                                onclick="localStorage.setItem('showToast', false)" @click="showToast=false">
                                Go away! Never show again
                            </button>
                        </div>
                    </div>
                </div>
            </transition>

            <transition name="slide-up" mode="out-in">
                <div class="toast" v-if="showImportToast">
                    <div class="toast-body">
                        <h2 style="margin-top: 0px; text-align: center;">How to link your Infinite Craft elements</h2>
                        <p>
                            <b>Step 1:</b>
                            Click and Drag this Bookmarklet to your Bookmark Bar
                        </p>
                        <div class="draggable-wrapper" :class="{ 'show-outline': isDraggingBookmarklet }">
                            <a :href="`javascript:(function(){${bookmarkletData}})();`" draggable="true"
                                @dragstart="dragStart" @dragend="dragEnd" @click.prevent="preventClick"
                                class="draggable" :class="{ 'dragging': isDraggingBookmarklet, 'shake': isShaking}">
                                Infinite Craft Wiki
                            </a>
                        </div>
                        <p>
                            <b>Step 2:</b>
                            Open <a class="text-link" href="https://neal.fun/infinite-craft/" target="_blank">Infinite
                                Craft</a> by clicking on the Bookmarklet once
                        </p>
                        <p>
                            <b>Step 3:</b>
                            Send your elements to the Wiki by clicking on the Bookmarklet again
                        </p>
                        <br>
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="button" style="margin:0px" @click="showImportToast=false">
                                Done
                            </div>
                        </div>
                    </div>
                </div>
            </transition>

            <transition name="slide-up" mode="out-in">
                <div key=0 v-if="currentElement">
                    <button class="controls left-arrow" :style="`top:max(${scroll}px, 300px); outline: none`"
                        @click="slideLeft"></button>
                    <button class="controls right-arrow" :style="`top:max(${scroll}px, 300px); outline: none`"
                        @click="slideRight"></button>
                    <transition name="slide-right" mode="out-in">
                        <h2 :key="currentElement" style="text-align: center;" @click="navigateTo('')">
                            <div class="item" style=" padding: 13px 15px 12px">
                                {{ data.index[currentElement][0] }}&nbsp;{{ data.index[currentElement][1] }}
                            </div>
                        </h2>
                    </transition>

                    <div class="slider-container">
                        <div class="slider"
                            :style="{ transform: `translateX(calc(${-currentPanelIndex * 540}px + 50% - 810px))` }">
                            <div class="panel" :class="{ 'center-panel': currentPanelIndex === -1 }">
                                <div class="ingredients-list">
                                    <h3>Created by</h3>
                                    <transition name="slide-right" mode="out-in" v-if="currentFromLength > 0">
                                        <table :key="currentElement">
                                            <tr v-for="recipe in currentFrom">
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.A)}"
                                                    @click="navigateTo(recipe.A);">
                                                    {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                                </td>
                                                <td>+</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.B)}"
                                                    @click="navigateTo(recipe.B);">
                                                    {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                                </td>
                                                <td>=</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.C)}"
                                                    @click="navigateTo(recipe.C);">
                                                    {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                                </td>
                                            </tr>
                                            <tr v-for="recipe in currentHiddenFrom" v-if="showHiddenRecipes">
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.A)}"
                                                    @click="navigateTo(recipe.A);">
                                                    {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                                </td>
                                                <td>+</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.B)}"
                                                    @click="navigateTo(recipe.B);">
                                                    {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                                </td>
                                                <td>=</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.C)}"
                                                    @click="navigateTo(recipe.C);">
                                                    {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                                </td>
                                            </tr>
                                        </table>
                                    </transition>
                                    <div v-else>
                                        No recipes found
                                    </div>
                                    <div v-if="currentHiddenFromLength > 0">
                                        <div v-if="!showHiddenRecipes" class="text-link"
                                            @click="showHiddenRecipes = true">
                                            {{currentHiddenFromLength}} entries hidden
                                        </div>
                                        <div v-else class="text-link" @click="showHiddenRecipes = false">
                                            {{currentHiddenFromLength}} entries shown
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel" :class="{ 'center-panel': currentPanelIndex === 0 }">
                                <div class="ingredients-list">
                                    <h3>Crafting Recipe</h3>
                                    <transition name="slide-right" mode="out-in">
                                        <div :key="currentElement">
                                            <table>
                                                <tr v-for="recipe in craftingTreeData">
                                                    <td class="item" :class="{'item-used': !saveData.has(recipe.A)}"
                                                        @click="navigateTo(recipe.A);">
                                                        {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                                    </td>
                                                    <td>+</td>
                                                    <td class="item" :class="{'item-used': !saveData.has(recipe.B)}"
                                                        @click="navigateTo(recipe.B);">
                                                        {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                                    </td>
                                                    <td>=</td>
                                                    <td class="item" :class="{'item-used': !saveData.has(recipe.C)}"
                                                        @click="navigateTo(recipe.C);">
                                                        {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                                    </td>
                                                </tr>
                                            </table>
                                            <div v-if="craftingTreeData.length == 0">
                                                <div class="item" :class="{'item-used': !saveData.has(currentElement)}">
                                                    {{ data.index[currentElement][0] }}&nbsp;{{
                                                    data.index[currentElement][1] }}
                                                </div>
                                            </div>
                                            <div v-if="!isMobile && saveData.size == 0 && craftingTreeData.length > 1"
                                                class="button" @click="showImportToast=true">
                                                Use your existing elements
                                            </div>
                                        </div>
                                    </transition>
                                </div>
                            </div>
                            <div class="panel" :class="{ 'center-panel': currentPanelIndex === 1 }">
                                <div class="ingredients-list">
                                    <h3>Used in</h3>
                                    <transition name="slide-right" mode="out-in" v-if="currentToLength > 0">
                                        <table :key="currentElement">
                                            <tr v-for="recipe in currentTo">
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.A)}"
                                                    @click="navigateTo(recipe.A);">
                                                    {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                                </td>
                                                <td>+</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.B)}"
                                                    @click="navigateTo(recipe.B);">
                                                    {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                                </td>
                                                <td>=</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.C)}"
                                                    @click="navigateTo(recipe.C);">
                                                    {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                                </td>
                                            </tr>
                                            <tr v-for="recipe in currentHiddenTo" v-if="showHiddenRecipes">
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.A)}"
                                                    @click="navigateTo(recipe.A);">
                                                    {{ data.index[recipe.A][0] }}&nbsp;{{ data.index[recipe.A][1] }}
                                                </td>
                                                <td>+</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.B)}"
                                                    @click="navigateTo(recipe.B);">
                                                    {{ data.index[recipe.B][0] }}&nbsp;{{ data.index[recipe.B][1] }}
                                                </td>
                                                <td>=</td>
                                                <td class="item" :class="{'item-used': !saveData.has(recipe.C)}"
                                                    @click="navigateTo(recipe.C);">
                                                    {{ data.index[recipe.C][0] }}&nbsp;{{ data.index[recipe.C][1] }}
                                                </td>
                                            </tr>
                                        </table>
                                    </transition>
                                    <div v-else>
                                        No recipes found
                                    </div>
                                    <div v-if="currentHiddenToLength > 0">
                                        <div v-if="!showHiddenRecipes" class="text-link"
                                            @click="showHiddenRecipes = true">
                                            {{currentHiddenToLength}} entries hidden
                                        </div>
                                        <div v-else class="text-link" @click="showHiddenRecipes = false">
                                            {{currentHiddenToLength}} entries shown
                                        </div>
                                    </div>
                                    <div id="element-scroll-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <transition name="slide-up" mode="out-in">
                        <div :key=0 class="nav-bar">
                            <div class="nav-bar-link" :class="{ 'selected-link': currentPanelIndex === -1 }"
                                @click="currentPanelIndex = -1">
                                Created By
                            </div>
                            <div class="nav-bar-link" :class="{ 'selected-link': currentPanelIndex === 0 }"
                                @click="currentPanelIndex = 0">
                                Crafting Recipe
                            </div>
                            <div class="nav-bar-link" :class="{ 'selected-link': currentPanelIndex === 1 }"
                                @click="currentPanelIndex = 1">
                                Used In
                            </div>
                        </div>
                    </transition>
                </div>
                <div key=1 v-else>
                    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                        <div v-if="Object.keys(data.index).length == 0" style="font-weight: bold; padding-top: 5px;">
                            Loading data...</div>
                        <div class="item" :class="{'item-used': !saveData.has(element)}" v-for="element in elementList"
                            @click="navigateTo(element)">
                            {{ data.index[element][0] }}&nbsp;{{ data.index[element][1] }}
                        </div>
                    </div>
                    <div id="scroll-end"></div>
                </div>
            </transition>
        </div>
    </div>

    <script>
        function setQuery(query) {
            const url = new URL(window.location.href);
            for (let key in query) {
                if (query[key] === "") {
                    url.searchParams.delete(key);
                } else {
                    url.searchParams.set(key, query[key]);
                }
            }

            window.history.pushState({}, '', url);
        }

        function getQuery() {
            const params = new URLSearchParams(window.location.search);
            const queryParams = {};

            // Iterate over each query parameter
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            return queryParams;
        }

        // Decode base64 value mod 1000
        function getChunk(value) {
            let base64 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-+'
            let result = 0
            for (let i = 0; i < value.length; i++) {
                result = (result * 64 + base64.indexOf(value[i]))
            }
            return Math.floor(result / 100)
        }

        const DATA_PREFIX = window.location.host == 'expitau.github.io' ? '/data/' : 'data/';
        const HELPER_URL = window.location.host == 'expitau.github.io' ? 'https://expitau.github.io/InfiniteCraftWiki/helper' : 'http://127.0.0.1:5501/web/helper.html';

        // Vue app
        const app = new Vue({
            el: '#app',
            data: {
                data: { index: {}, list: [], costs: {}, craftingCache: {}, data: {}, metadata: { recipeCount: 0, loadedChunks: [] } },
                craftingTreeData: [],
                craftingTreeReady: false,
                bookmarkletData: "",
                currentElement: "",
                showHiddenRecipes: false,
                searchQuery: "",
                showToast: false,
                showImportToast: false,
                isDraggingBookmarklet: false,
                isShaking: false,
                saveData: [],
                loaded: 1000,
                loadedElements: 100,
                currentPanelIndex: 0,
                scroll: 0,
            },
            computed: {
                currentTo: function () {
                    if (!this.data.data[this.currentElement]) {
                        return []
                    }
                    let result = this.data.data[this.currentElement].to
                        .map(recipe => {
                            return { A: this.currentElement, B: recipe[0], C: recipe[1] }
                        })
                    return result.slice(0, this.loadedElements)
                },
                currentFrom: function () {
                    if (!this.data.data[this.currentElement]) {
                        return []
                    }
                    let result = this.data.data[this.currentElement].from
                        .map(recipe => {
                            return { A: recipe[0], B: recipe[1], C: this.currentElement }
                        })
                    return result.slice(0, this.loadedElements)
                },
                currentHiddenTo: function () {
                    if (!this.data.data[this.currentElement]) {
                        return []
                    }
                    let result = this.data.data[this.currentElement].hiddenTo
                        .map(recipe => {
                            return { A: this.currentElement, B: recipe[0], C: recipe[1] }
                        })
                    return result.slice(0, 100)
                },
                currentHiddenFrom: function () {
                    if (!this.data.data[this.currentElement]) {
                        return []
                    }
                    let result = this.data.data[this.currentElement].hiddenFrom
                        .map(recipe => {
                            return { A: recipe[0], B: recipe[1], C: this.currentElement }
                        })
                    return result.slice(0, 100)
                },
                currentHiddenFromLength: function () {
                    return this.data.data[this.currentElement]?.hiddenFrom.length || 0
                },
                currentHiddenToLength: function () {
                    return this.data.data[this.currentElement]?.hiddenTo.length || 0
                },
                currentFromLength: function () {
                    return this.currentFrom.length + (this.data.data[this.currentElement]?.hiddenFrom.length || 0);
                },
                currentToLength: function () {
                    return this.currentTo.length + (this.data.data[this.currentElement]?.hiddenTo.length || 0);
                },
                elementList: function () {
                    let query = this.searchQuery.toLowerCase()
                    return this.data.list.filter(x => x[1].toLowerCase().includes(query)).map(x => x[0]).slice(0, this.loaded)
                },
                elementCount: function () {
                    return Object.keys(this.data.index).length - 1;
                },
                isDefaultElement: function () {
                    return this.data.costs[this.currentElement] == 1;
                },
                isMobile: function () {
                    return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
                },
            },
            methods: {
                navigateTo: function (element) {
                    if (element != "") {
                        if (!this.data.data[element]) {
                            this.loadChunk(getChunk(element));
                        }
                        this.craftingTreeData = [];
                        this.craftingTreeReady = false;
                        this.calcCraftingTree(element).then(result => {
                            this.craftingTreeReady = true;
                            this.craftingTreeData = result;
                        });
                        if (this.currentElement == "") {
                            this.currentPanelIndex = 0;
                        }
                        this.showHiddenRecipes = false;
                    }
                    this.currentElement = element;
                    this.loaded = 1000;
                    this.loadedElements = 100;
                    setQuery({ e: element });
                    localStorage.setItem("lastElement", element);
                    this.smoothScrollTo(0);
                },
                slideLeft: function () {
                    this.currentPanelIndex = (this.currentPanelIndex + 3) % 3 - 1;
                },
                slideRight: function () {
                    this.currentPanelIndex = (this.currentPanelIndex + 2) % 3 - 1;
                },
                addScrollPage: function () {
                    this.loaded *= 2;
                },
                addElementScrollPage: function () {
                    this.loadedElements *= 2;
                },
                smoothScrollTo: function (position = 0) {
                    const duration = 500;
                    const start = window.pageYOffset;
                    const startTime = performance.now();

                    const easeInOutQuad = (t, b, c, d) => {
                        t /= d / 2;
                        if (t < 1) return c / 2 * t * t + b;
                        t--;
                        return -c / 2 * (t * (t - 2) - 1) + b;
                    };

                    const animateScroll = (currentTime) => {
                        const timeElapsed = currentTime - startTime;
                        const run = easeInOutQuad(timeElapsed, start, position - start, duration);

                        window.scrollTo(0, run);

                        if (timeElapsed < duration) requestAnimationFrame(animateScroll);
                    };

                    requestAnimationFrame(animateScroll);
                },
                clearSaveData: function () {
                    this.saveData = new Set();
                    localStorage.setItem("saveData", "");
                },
                dragStart() {
                    this.isDraggingBookmarklet = true;
                },
                dragEnd() {
                    this.isDraggingBookmarklet = false;
                },
                preventClick(event) {
                    this.isShaking = true;
                    setTimeout(() => {
                        this.isShaking = false;
                    }, 250);
                    event.preventDefault();
                },
                formatNumber: function (n) {
                    if (n === undefined || n <= 0) {
                        return "#####"
                    }
                    return n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                },
                calcCraftingTree: async function (element) {
                    if (this.data.costs[element] == 1) {
                        return [];
                    }
                    let craftingList = [];
                    let usedElements = new Set();
                    let result = [];
                    craftingList.push(element);
                    while (craftingList.length > 0) {
                        let thisElement = craftingList.shift();
                        if (usedElements.has(thisElement)) {
                            continue;
                        }
                        usedElements.add(thisElement);
                        let left, right;
                        if (this.saveData.size == 0) {
                            [left, right] = this.data.craftingCache[thisElement];
                        } else {
                            if (!this.data.data[thisElement] && thisElement != "") {
                                await this.loadChunk(getChunk(thisElement));
                            }
                            let fromIndex = 0;
                            for (let i = 0; i < this.data.data[thisElement].from.length; i++) {
                                if (this.saveData.has(this.data.data[thisElement].from[i][0])) {
                                    if (this.saveData.has(this.data.data[thisElement].from[i][1])) {
                                        fromIndex = i;
                                        break;
                                    }
                                    if (!usedElements.has(this.data.data[thisElement].from[i][1])) {
                                        fromIndex = i;
                                        break;
                                    }
                                } else if (this.saveData.has(this.data.data[thisElement].from[i][1])) {
                                    if (!usedElements.has(this.data.data[thisElement].from[i][0])) {
                                        fromIndex = i;
                                        break;
                                    }
                                }
                            }
                            [left, right] = this.data.data[thisElement].from[fromIndex];
                        }
                        result.unshift({ A: left, B: right, C: thisElement });
                        if (this.data.costs[left] != 1 && !this.saveData.has(left)) {
                            craftingList.unshift(left);
                        }
                        if (this.data.costs[right] != 1 && !this.saveData.has(right)) {
                            craftingList.unshift(right);
                        }
                    }
                    return result;
                },
                loadChunk: async function (chunk) {
                    return fetch(DATA_PREFIX + `chunk-${chunk}.json`)
                        .then(response => {
                            console.log("Loaded chunk", chunk);
                            return response.json()
                        })
                        .then(data => {
                            [sep1, sep2, sep3] = ["::c", "::b", "::a"]
                            chunkData = Object.fromEntries(Object.entries(data).map(x => {
                                let [from, to, hiddenFrom, hiddenTo] = x[1].split(sep1)
                                if (from == "") {
                                    from = []
                                } else {
                                    from = from.split(sep2).map(x => x.split(sep3));
                                    if (this.saveData.size != 0) {
                                        from = from.sort((a, b) => (+this.saveData.has(b[0])) + (+this.saveData.has(b[1]))
                                            - (+this.saveData.has(a[0])) - (+this.saveData.has(a[1])));
                                    }
                                }
                                if (to == "") {
                                    to = []
                                } else {
                                    to = to.split(sep2).map(x => x.split(sep3));
                                    if (this.saveData.size != 0) {
                                        to = to.sort((a, b) => (+this.saveData.has(b[0])) + (+this.saveData.has(a[1])) * 2
                                            - (+this.saveData.has(b[1])) * 2 - (+this.saveData.has(a[0])));
                                    }
                                }
                                if (hiddenFrom == "") {
                                    hiddenFrom = []
                                } else {
                                    hiddenFrom = hiddenFrom.split(sep2).map(x => x.split(sep3))
                                }
                                if (hiddenTo == "") {
                                    hiddenTo = []
                                } else {
                                    hiddenTo = hiddenTo.split(sep2).map(x => x.split(sep3))
                                }
                                return [x[0], { from, to, hiddenFrom, hiddenTo }]
                            }))
                            this.data.data = Object.freeze(Object.assign({}, this.data.data, chunkData))
                            this.data.metadata.loadedChunks.push(chunk)
                        });
                },
            },
            mounted() {
                if (localStorage.getItem("showToast") === null || localStorage.getItem("showToast") === true) {
                    counter = localStorage.getItem("siteVisitedCounter") ?? 0
                    counter++
                    if (counter == 3) {
                        localStorage.setItem("showToast", false)
                        this.showToast = true
                    }
                    localStorage.setItem("siteVisitedCounter", counter)
                } else {
                    this.showToast = false;
                }
                // Load recipes from JSON file
                fetch(DATA_PREFIX + 'index.json')
                    .then(response => { console.log(response); return response.json() })
                    .then(index => {
                        this.data.index = Object.freeze(Object.fromEntries(Object.entries(index).map(x => [x[0], [x[1][0], x[1][1]]])))
                        this.data.craftingCache = Object.freeze(Object.fromEntries(Object.entries(index).map(x => [x[0], [x[1][3], x[1][4]]])))
                        this.data.list = Object.freeze(Object.entries(index).sort((a, b) => a[1][2] - b[1][2]).filter(x => x[1][1] != "Nothing").map(x => [x[0], x[1][1]]))
                        this.data.costs = Object.freeze(Object.fromEntries(Object.entries(index).map(x => [x[0], x[1][2]])))

                        this.navigateTo(getQuery().e || (document.referrer === HELPER_URL ? localStorage.getItem("lastElement") : "") || "");
                    })
                    .catch(error => {
                        console.error('Error loading recipes:', error);
                    });

                fetch(DATA_PREFIX + 'metadata.json')
                    .then(response => { console.log(response); return response.json() })
                    .then(metadata => {
                        this.data.metadata.recipeCount = metadata.recipeCount
                    })
                    .catch(error => {
                        console.error('Error loading metadata:', error);
                    });

                fetch('bookmarklet.js')
                    .then(response => { return response.text() })
                    .then(bookmarkletText => {
                        this.bookmarkletData = bookmarkletText.replace('HELPER_URL', HELPER_URL);
                    })
                    .catch(error => {
                        console.error('Error loading bookmarklet:', error);
                    });

                addEventListener("popstate", (event) => this.navigateTo(getQuery().e || ""));
                var savaDataArray = (getQuery().s || localStorage.getItem("saveData") || "").split(",").filter(x => x);
                setQuery({ s: '' })
                this.saveData = new Set(savaDataArray);
                localStorage.setItem("saveData", savaDataArray.join(","));

                document.addEventListener("scroll", (event) => {
                    this.scroll = window.pageYOffset;

                    // For main body lazy scrolling
                    var lastDiv = document.querySelector("#scroll-end");
                    if (lastDiv) {
                        var lastDivOffset = lastDiv.offsetTop + lastDiv.clientHeight;
                        var pageOffset = window.pageYOffset + window.innerHeight;

                        if (pageOffset > lastDivOffset - 20) {
                            app.addScrollPage();
                        }
                    }

                    // For specific element lazy scrolling
                    var lastDiv = document.querySelector("#element-scroll-end");
                    if (lastDiv) {
                        var lastDivOffset = lastDiv.offsetTop + lastDiv.clientHeight;
                        var pageOffset = window.pageYOffset + window.innerHeight;

                        if (pageOffset > lastDivOffset - 20) {
                            app.addElementScrollPage();
                        }
                    }
                });

                document.addEventListener("wheel", (event) => {
                    window.lastScrollTime ??= Date.now();
                    if (this.currentElement && window.lastScrollTime + 200 < Date.now()) {
                        if (event.deltaX > 20) {
                            this.slideRight()
                        }
                        if (event.deltaX < -20) {
                            this.slideLeft()
                        }
                        window.lastScrollTime = Date.now();
                    }
                });

                // Preload initial chunks
                for (let i = 0; i < 10; i++){
                    this.loadChunk(i)
                }
            }
        });
    </script>
</body>

</html>