:root {
    color-scheme: dark;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: #191919;
    color: #c6c7c7;
    margin: 0;
    overflow-x: hidden;
}

#app {
    overflow: hidden;
    padding: 1rem 5rem 3rem;
}

.item {
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 9px 10px 8px;
    display: inline-block;
    margin: 5px;
    line-height: 1em;
    border: 1px solid #525252;
}

.showUnavailableElements .item.item-used {
    filter: brightness(50%)
}

.visibility-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.item:hover {
    border: 1px solid #45505c;
}

.ingredients-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

@media (max-width) {
    #element {
        flex-direction: column-reverse
    }
}

.text-link {
    text-decoration: underline;
    margin-top: 5px;
    color: #949494;
    cursor: pointer;
}

.search-bar {
    font-size: unset;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    line-height: 1em;
    width: 100%;
    margin: 1rem;
    text-align: center;
    background-color: #242424;
    border: none;
    color: #c6c7c7;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

@media (max-width: 1000px) {
    #app {
        padding: 1rem 1rem 1rem;
    }
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000aa;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toast-body {
    background-color: #242424;
    border-radius: 0.5rem;
    padding: 3rem 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.github-link {
    color: #c6c7c7;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.sub-header {
    text-align: center;
    margin-top: 4px;
    color: gray;
}

@media (max-width: 800px) {
    .github-link-text {
        display: none
    }
}

.github-link:hover {
    color: #949494;
    transition: color var(--transition-s) ease;
}

@media (max-width: 480px) {
    .toast-body {
        text-align: center;
    }

    .github-link {
        position: static;
        margin: 0
    }
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.12s ease !important;
}

.slide-up-enter,
.slide-up-leave-to {
    opacity: 0 !important;
    transform: translateY(30px) !important;
}

.slide-up-leave-from,
.slide-right-leave-from {
    opacity: 0 !important;
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.08s ease !important;
}

.slide-right-leave-to {
    opacity: 0 !important;
    transform: translateX(10px) !important;
}

.slide-right-enter {
    opacity: 0 !important;
    transform: translateX(-10px) !important;
}

.slider-container {
    transition: transform 0.2s ease-in-out;
    position: relative;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.panel {
    flex: 0 0 500px;
    opacity: 0.5;
    text-align: center;
    border-radius: 10px;
    height: min-content;
    margin: 20px;
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

.panel:not(.center-panel) {
    transform: scale(0.9);
}

.center-panel {
    opacity: 1;
}

.controls {
    position: absolute;
	width: calc(50% - 290px);
	min-height: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	background: transparent;
	border: none;
	z-index: 2;
}

.right-arrow {
    right: 0px;
    justify-content: flex-start;
}

.left-arrow {
    left: 0px;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
	background: #2b2b2b;
	position: fixed;
	height: 50px;
	bottom: 0px;
	width: 100%;
    left: 0px;
}

.nav-bar-link {
    transition: all 0.1s ease;
	width: 100%;
	color: #a9a9a9;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.nav-bar-link:hover {
    color:rgba(59, 196, 166, 0.478);
}

.selected-link {
    color:rgb(59 196 167);
    font-weight: bold;
}

@media (min-width: 1100px) {
    .nav-bar {
        display: none;
    }
}