:root {
    color-scheme: dark;
    scrollbar-gutter: stable;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: #191919;
    color: #c6c7c7;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#container {
    position: relative;
}

#app {
    overflow: hidden;
    padding: 1rem 3rem 3rem;
}

.item {
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 9px 10px 8px;
    display: inline-block;
    margin: 5px;
    line-height: 1em;
    border: 1px solid #525252;
}

.showUnavailableElements .item.item-used {
    filter: brightness(0.9);
	border-color: #9d7979;
	background: linear-gradient(225deg, #ff6161 0%, #ff6161 10px, transparent 10px, transparent 100%);
}

.visibility-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.item:hover {
    border: 1px solid #45505c;
}

.ingredients-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

@media (max-width) {
    #element {
        flex-direction: column-reverse
    }
}

.text-link {
    text-decoration: underline;
    margin-top: 5px;
    color: #949494;
    cursor: pointer;
}

.search-bar {
    font-size: unset;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    line-height: 1em;
    width: 100%;
    margin: 1rem;
    text-align: center;
    background-color: #242424;
    border: none;
    color: #c6c7c7;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

@media (max-width: 1000px) {
    #app {
        padding: 1rem 1rem 1rem;
    }
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000aa;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.toast-body {
    position: relative;
    background-color: #242424;
    border-radius: 0.5rem;
    padding: 3rem 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.github-link {
    position: absolute;
    top: 0px;
    left: 1rem;
    color: #c6c7c7;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-wrap: nowrap;
}

.upload-button {
    position: absolute;
    top: 0px;
    right: 1rem;
    display: flex;
    text-decoration: none;
    margin: 0px;
}

.github-link-text {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sub-header {
    text-align: center;
    margin-top: 4px;
    color: gray;
}

.github-link:hover {
    color: #949494;
    transition: color var(--transition-s) ease;
}

@media (max-width: 700px) {
    .github-link-text {
        display: none;
    }

    .upload-button {
        display: none;
    }
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.12s ease !important;
}

.slide-up-enter,
.slide-up-leave-to {
    opacity: 0 !important;
    transform: translateY(30px) !important;
}

.slide-up-leave-from,
.slide-right-leave-from {
    opacity: 0 !important;
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.08s ease !important;
}

.slide-right-leave-to {
    opacity: 0 !important;
    transform: translateX(10px) !important;
}

.slide-right-enter {
    opacity: 0 !important;
    transform: translateX(-10px) !important;
}

.slider-container {
    transition: transform 0.2s ease-in-out;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.slider {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.panel {
    flex: 0 0 500px;
    opacity: 0.5;
    text-align: center;
    border-radius: 10px;
    height: min-content;
    margin: 20px;
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

.panel:not(.center-panel) {
    transform: scale(0.9, 0.95);
}

.center-panel {
    opacity: 1;
}

.controls {
    position: absolute;
    width: calc(50% - 290px);
    min-height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 2;
}

.right-arrow {
    right: 0px;
    justify-content: flex-start;
}

.left-arrow {
    left: 0px;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
    background: #1e1e1e;
    position: fixed;
    height: 50px;
    bottom: 0px;
    width: 100%;
    left: 0px;
}

.nav-bar-link {
    transition: all 0.1s ease;
    width: 100%;
    color: #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-bar-link:hover:not(.selected-link) {
    color: #d6d6d6;
}

.selected-link {
    color: #ffffff;
    font-weight: bold;
    border-bottom: 3px solid #347d39;
}

.button {
    transition: all 0.05s;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    outline: solid 1px grey;
    color: dimgrey;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    outline: solid 1px #d6d6d6;
    color: #d6d6d6;
}

.draggable {
    display: inline-block;
    padding: 10px 20px;
    background-color: #347d39;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    cursor: move !important;
    width: fit-content;
}

.dragging {
    opacity: 0.001;
}

.draggable-wrapper {
    overflow: visible;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 2px solid transparent;
    display: inline-block;
    width: fit-content;
    border-radius: 5px;
    padding: 0px;
    margin: 20px;
}

.show-outline {
    outline: 2px dotted #c7d5e580;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.shake {
    animation: shake 0.25s ease-in-out;
    cursor: not-allowed !important;
}

@media (min-width: 1000px) {
    .nav-bar {
        display: none;
    }
}

.close-button {
    border: none;
    display: inline-block;
    padding: 10px 26px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
}

.topright {
    position: absolute;
    right: 0;
    top: 0
}